Missing key generation procedures

Encryption, decryption, signing and verification are described, but not how to generate keys

I think this is perfectly in line with the existing OpenPGP standards. As far as I know, they do not specify anything about key generation. Historically, the OpenPGP standard is a mere "on wire format", meaning that it only specifies how to encode the data on the wire and not how implementations are supposed to process the data. I think latest with the crypto-refresh that is changing in the sense that more specifications about the behaviour of an implementation are made. But I think key generation is still out of scope for the OpenPGP standard. The NIST standards will specify how this is done.


AFAIK our draft is much more verbose with the encryption and decryption procedures, while RFC 4880, 6637, or the crypto-refresh tend to be more dry about that.
My point is that if we include verbose and explicit instructions on how to encrypt and decrypt, we should also include a paragraph stating that keys should be generated natively according to \[spec\].

I'd propose something like:
```
### Key generation procedure {#ecc-kyber-generation}

To generate Kyber + ECC composite key the implementation MUST independently
generate  the Kyber and the ECC component keys.
For Kyber this is done in native format as specified in {{Kyber-Subm}} and encoded
as fixed-length octet strings depending on the security level. 
For ECC this is done following the relative specification in {{RFC7748}}, 
{{NIST-SP800-186}}, or {{RFC5639}}, and encoding the outputs as fixed-length 
octet strings based on the curve's field size.
```

Similar for Dilithium and SPHINCS+.

Minutes Meeting 2023-01-19:

* Aron: crypto-refresh already addesses key generation of X...
* Stavros: should have paragraph
* Falko: agreed